:root {
  --monster-color: grey;    /* Color de piel */ 
  --eye-size: 60px;            /* Tamaño de ojos */ 
  --antenna-height: 200px;      /* Altura de antena */ 
  --mouth-width: 30px;         /* Ancho de boca */   
  --bg-color: #6a8ab9;         /* Color de fondo de la web */ 
}

/* ESTRUCTURA DEL MONSTRUO  */
body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.monster {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* La Antena usa la variable de altura */
.antenna {
  width: 10px;
  height: var(--antenna-height);
  background-color: var(--monster-color);
  border-radius: 5px 5px 0 0;
  position: relative;
}
/* pseudo elementos. After inserta contenido justo después del contenido real del elemento.*/
/* Lo creamos para hacer la bola de la antena */

.antenna::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -9px; /* Ajustamos la posicion de la bola de la antena */
  width: 30px; /* Cambiamos el ancho de la bola de la antena */
  height: 30px; /* Cambiamos la altura de la bola de la antena */
  background-color: var(--monster-color);
  border-radius: 50%;
  filter: brightness(1.2); 
}

/* El Cuerpo usa el color de piel */
.body {
  width: 200px;
  height: 220px;
  background-color: var(--monster-color);
  border-radius: 80px 80px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 0 rgba(0,0,0,0.1);
}

/* Los ojos usan la variable de tamaño */
.eye {
  width: var(--eye-size);
  height: var(--eye-size);
  background-color: rgb(223, 72, 72); /* Cambiamos el color de fodo de los ojos */
  border-radius: 50%;
  display: inline-block;
  margin: 0px;   /* Cambiamos la distancia entre los ojos */
  position: relative;
} 

/* pseudo elementos. After inserta contenido justo después del contenido real del elemento.*/
/* Lo creamos para hacer el cículo negro del ojo */
.eye::before {
  content: '';
  width: 50%;
  height: 50%;
  background-color: #000000; /* Cambiamos el color del ojo negro */
  border-radius: 50%;
  position: absolute;
  top: 2%; /* Cambiamos la posición vertical del ojo */
  left: 2%; /* Cambiamos la posición horizontal del ojo */
}

/* La boca usa la variable de ancho */
.mouth {
  width: var(--mouth-width);
  height: 100px; /* Cambiamos la altura de la boca */
  background-color: #2d3436;
  border-radius: 20px;
  margin-top: 20px;
}

.controls {
  margin-top: 40px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

span::before {
  content: "$"; /* Añade el símbolo antes */
  color: green;
}

span::after {
  content: " (Oferta)"; /* Añade el texto después */
  font-size: 0.8rem;
  color: red;
}